user-menu{

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
      position: absolute;
      list-style: none;
      background: #222;
      width: 200px;
      margin-left: -160px;
      padding-left: 15px;

      ul li {
        padding: 20px 0;
      }
  }
}