<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />


</head>
<body ng-app="sintApp" ng-controller="mainController">

    <div class="snow" ng-if="snow"></div>
    <button class="snow-toggle animated" ng-click="snow = !snow" ng-class="{'flip active': snow, 'flipInY inactive': !snow}" style="z-index: 1;"></button>

    <menu-bar ng-show="!$root.home" class="animated fadeInDown"></menu-bar>
    <div ng-view="" id="view-container" class="container"></div>


    <!-- script loading -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>

    <script src="js/services/rest.service.js"></script>
    <script src="js/services/user.service.js"></script>
    <script src="js/services/template.service.js"></script>

    <script src="js/main.controller.js"></script>
    <script src="js/pages/editor/editor.controller.js"></script>
    <script src="js/directives/menu-bar/menu-bar.controller.js"></script>
    <script src="js/directives/user-menu/user-menu.controller.js"></script>
    <script src="js/pages/editor/editor.controller.js"></script>

    <script src="js/directives/menu-bar/menu-bar.directive.js"></script>
    <script src="js/directives/user-menu/user-menu.directive.js"></script>

</body>
</html>