<nav id="menu-bar" class="nav-bar navbar-inverse navbar-fixed-top">
    <div class="container">
        <span class="navbar-brand">
            Welcome <span ng-bind="menu.user.name"></span>
        </span>
        <user-menu user="menu.user" class="navbar-right"></user-menu>
    </div>
</nav>