<div class="dropdown">
    <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="userMenu.determineBlur()">
        <span class="user-menu fa fa-user fa-3x"></span>
    </div>
    <div class="dropdown-menu" role="menu">
        <ul ng-show="menu.user !== undefined">
            <li>test</li>
            <li>test</li>
            <li>test</li>
        </ul>
        <form ng-show="menu.user === undefined" ng-submit="userMenu.login()">
            testing
            <button type="submit">Hello</button>
        </form>
    </div>
</div>
