html, body {
  margin: 0;
  top: 0;
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #333;
  overflow:hidden;
  font-family: 'Berkshire Swash', cursive;
  color: $base-font-color;
}

#view-container {
  background: rgba(255, 255, 255, 0.4);
  display: block;
  order-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;

  & section {
    width: 100%;
    height: 100%;
  }
}

.blurred {
  @include blur(10px);
}

.btn.btn-default {
  color: inherit;
  background-color: #E00D1A;
  border-color: #ECDEB2;
  font-size: inherit;

  &:hover {
    background-color: #C30A15;
  }
}

@media (min-width: 600px) {
  #view-container {
    margin-top: 5%;
    height: 95%;
  }
}
