.snow {
  font-family: Androgyne;
  background: url('../img/snow.png'), url('../img/snow2.png'), url('../img/snow3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
  opacity: 0.3;
  z-index: 0;
}

.snow-toggle {
  background: url('../img/snowflake.png');
  background-size: 100%;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  bottom : 0;
  left: 0;
  transition: opacity 1s;

  &:hover {
    opacity: 1 !important;
  }

  &:focus {
    outline: none;
  }

  &.active {
    opacity: 0.8;
  }

  &.inactive {
    opacity: 0.4;
  }
}

