<select class="form-control" ng-model="selectedTemplate" ng-options="txt.label for txt in textLabels">
    <option value="">Selecteer een template</option></option>
</select>

<input type="text" ng-model="selectedTemplate.content" class="form-control"/>
<br /><br />

<select class="form-control" ng-model="imageNr" ng-options="txt.name for txt in values">
    <option value="">Selecteer een template image</option></option>
</select>
        <br />

<img ng-show="imageNr" ng-src="img/template{{imageNr.id}}.jpg" alt="template image" />
