<section id="home-page" class="container-fluid">
    <div class="row first-row">
        <div id="sint" class="hidden-xs col-md-5"></div>
        <div id="text" class="col-xs-12 col-md-7">
            <div class="container-fluid">
                <div class="row content">
                    <p class="col-xs-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lorem ante, aliquet nec lorem in, aliquet condimentum magna. Aliquam at mollis metus. Suspendisse viverra libero eget nisl pulvinar fringilla. Suspendisse nec est vitae erat posuere varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin sit amet gravida nibh, eget tincidunt urna. Proin a erat eu arcu cursus bibendum vitae ut diam. Vivamus commodo tristique fringilla. Nulla laoreet eleifend ante vitae sagittis. Morbi ac fermentum nisl, mattis sollicitudin eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut velit elit, faucibus eget neque non, vulputate lobortis enim.
                    </p>
                </div>
                <div class="row">
                    <a href="#/editor" class="col-xs-12 btn btn-default">
                        Start
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">

       </div>
</section>