#home-page {
  width:100%;
  height: 100%;
  font-size: 22px;

  .first-row {
    height:100%;
  }

  #text {
    height: 100%;

    .container-fluid {
      height: 100%;
    }
  }

  #sint {
    background: url('../img/sint.png') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 94%;
    float: left;
  }

  .content {
    padding-top: 33px;
    margin-bottom: 10%;
    text-align: center;
    max-height: 75%;
    overflow-y: scroll;
  }
}

